.Select-control {
    background-color: #212121 !important;
    border: #EEE solid 1px;
    background-clip: padding-box;
    color: rgb(0, 0, 0);
    font-size: 0.9375rem;
    font-weight: 400;
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.Select-menu-outer {
    position: absolute;
    background-color: #212121 !important;
    color: #EEE;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
  }

.Select-value-label{
    color: #EEE !important;
}

.Select.is-focused > .Select-control{
  background-color: #212121 !important;
}

.Select.is-focused:not(.is-open) > .Select-control{
  background-color: #212121 !important;
  border: #EEE solid 1px; 
}

.updatemenu-item-rect:hover{
  fill: rgb(116, 0, 0) !important;
}